.banner-adoption {
    background-image: url("../assets/banner-adopt.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 90px 0;
    margin-bottom: 0; 
}

.banner-adoption h1 {
    color: white;
    font-size: 55px;
    line-height: 5px;
    font-weight: 700;
}
.adoption-galerry{
    padding: 100px;
}

.btns-category{

    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-box {
    display: inline-flex;
    flex-basis: 33%;
    flex-wrap: wrap;
    gap: 40px;
}

.box-icon-content p {
    margin: 0;
}